In [46]:
import pandas as pd
import pyodbc
import textwrap

In [33]:
#paramerers
server = 'LAPTOP-J9BHVG5D\HOUSTON'
db = 'application'
username = 'moushmibhurke' 
password = '123456'
# create the connection
conn =pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+db+';UID='+username+';PWD='+ password)
cursor = conn.cursor()
#query
sql= '''
select * from customer
'''
df = pd.read_sql(sql,conn)
df

   id    name  phone_number
0   1  Donald        732678
1   2    bill        657348
2   3    modi        456789

In [34]:
#or
cursor.execute("SELECT * from customer;") 
row = cursor.fetchone() 
while row: 
    print(row) #(row[0])
    row = cursor.fetchone()

(1, 'Donald', 732678)
(2, 'bill', 657348)
(3, 'modi', 456789)

In [48]:
#Sample insert query
customer = [[4,'moushmi',345234],
           [5,'sara',345234],
           [6,'ruhi',456789]]
cursor = conn.cursor()

# Loop through to insert each row.
for index, row in enumerate(customer):
    
    # define an insert query with place holders for the values.
    insert_query = textwrap.dedent('''
        INSERT INTO customer(id, name, phone_number) 
        VALUES (?, ?, ?);
    ''')
    
    # define the values
    values = (row[0], row[1], row[2])
    
    # insert the data into the database
    cursor.execute(insert_query, values)

# commit the inserts.
conn.commit()
    
# grab all the rows from the table
cursor.execute('SELECT * FROM customer')
for row in cursor:
    print(row)
    
# close the cursor and connection  
cursor.close()
conn.close()

(1, 'Donald', 732678)
(2, 'bill', 657348)
(3, 'modi', 456789)
(4, 'moushmi', 345234)
(5, 'sara', 345234)
(6, 'ruhi', 456789)
(4, 'moushmi', 345234)
(5, 'sara', 345234)
(6, 'ruhi', 456789)

In [42]:
#drivers for my pc
for drivers in pyodbc.drivers():
    print(drivers)

SQL Server
ODBC Driver 17 for SQL Server
SQL Server Native Client 11.0
SQL Server Native Client RDA 11.0
Microsoft Access Driver (*.mdb, *.accdb)
Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)
Microsoft Access Text Driver (*.txt, *.csv)